extends ../../layout/layout.pug

include ../../components/common/button

block head
  link(rel='stylesheet', href='/styles/signup-detail.css')

block back-page
  a(href='/signup/phone')
    img(src='/assets/icons/arrow-left.png', alt='뒤로가기')

block next-page
  p#signup-detail-next-page.signup-detail-next-page 완료

block content
  .signup-detail-wrapper
    form.singup-detail-form(action='/user/signup', method='POST')
      .singup-detail-group.email
        label.signup-detail-label 이메일
        .signup-detail-input-wrapper
          .signup-input-wrapper
            input.signup-input.input-underline(
              type='text',
              name='email',
              placeholder='ex) crong@woowahan.com',
              required
            )
            .signup-detail-input-check
            p.error-message.hide 이메일 형식을 지켜주세요.
            button.signup-detail-input-remover.input-remover-button.hide(type='button')
              img(src='/assets/icons/close-circle.png', alt='번호 지우기')

          +button('중복확인', "#ffffff", "#bbbbbb", "#bbbbbb").singup-email-duplicate-button(type='button')

      .singup-detail-group.nickname
        label.signup-detail-label 닉네임
        .signup-detail-input-wrapper
          .signup-input-wrapper
            input.signup-input.input-underline(type='text', name='nickname', placeholder='닉네임을 입력해주세요.', required)
            .signup-detail-input-check
            p.error-message.hide 닉네임을 입력해주세요.
            button.signup-detail-input-remover.input-remover-button.hide(type='button')
              img(src='/assets/icons/close-circle.png', alt='번호 지우기')

      .singup-detail-group.password
        label.signup-detail-label 비밀번호
        .signup-detail-input-wrapper
          .signup-input-wrapper
            input.signup-input.input-underline(
              type='password',
              name='password',
              placeholder='10자 이상 영어 대문자, 소문자, 숫자 특수문자 2종류',
              required
            )
            .signup-detail-input-check
            p.error-message.hide 10자 이상 영어 대문자, 소문자, 숫자 특수문자 중 2종류를 조합해야 합니다.
            button.signup-detail-input-remover.input-remover-button.hide(type='button')
              img(src='/assets/icons/close-circle.png', alt='번호 지우기')

      .singup-detail-group.birth
        label.signup-detail-label 생년월일
        .signup-detail-input-wrapper
          .signup-input-wrapper
            input.signup-input.input-underline(
              type='text',
              name='birth',
              placeholder='ex) 2000.01.01',
              maxLength='10',
              required
            )
            .signup-detail-input-check
            p.error-message.hide 생년월일을 제대로 입력해주세요.
            button.signup-detail-input-remover.input-remover-button.hide(type='button')
              img(src='/assets/icons/close-circle.png', alt='번호 지우기')

block script
  script(src='/js/signup-detail.js', type='module')
